<h1>Admin::Dashboard#show</h1>

<div class="items">

  <table class="table table-striped">  

    <tbody>

      <tr> 

        <td>

          <%= link_to 'Products', root_path %> in the product database: <%= @count %> 
        
        </td>

      </tr>

      <br>

      <tr>
        
        <td> 

        <%= link_to 'Categories', @category %> in the category database: <%= @categories %> 
          #  need help with a mentor to link to the right root  ^  
        </td>

      </tr>       

    </tbody>

  </table>

</div>