<div class="About">

  <h1> Our Story </h1>

    <p>
      ε((ب͜つب))з
      ζ༼>!<"༽ᶘ
      ɳ[ಠ‿ಠɳ]
      ~༼⊜³⊜~༽
      (=┐๏̯͡人๏̯͡‶)=┐
      |ᕤooo|ᕤ
      ﴾ᵒ⏓‿‿⏓ᵒ﴿
      <ᚖఠдఠᚖ> 
    </p>

    

</div>